@import '../../../style/config';

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:40rem;
  height:40rem;
  background-color: $secondary;
  border-radius: 0.75rem;
  margin: 5rem auto 0;

  .error {
    margin:0 auto;
    color: $error;
    font-size: 0.75rem;
  }
}
