@import '../../../style/config';

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width:20rem;
  height: 20rem;

  .sortImage {
    width:100%;
    height: 20rem;
    margin:0 auto;
  }
}

.modalImage {
  width:70%;
  height: 15rem;
  margin:0 auto;
}

.error {
  margin:0 auto;
  color: $error;
  font-size: 0.75rem;
}
